.singleEvent-desc{
    text-align: center;
    width: 80%
}

.singleEvent-title{
    width: 70%;
    text-align: center;
}

.singleEvent-media-title{
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: large;
    font-weight: 400;
}

.singelEvent-media-img{
    width: 100%;
    border-radius: 5px;
    height: 185px;
}

.singleEvent-media-img-div{
    width: 100%;
    padding: 10px;
    background-color: gainsboro;
}

.singleEvent-media-title:hover{
    cursor: pointer;
} 